{% extends 'admin_base.html' %}
{% block title%} Dashboard {% endblock title%}
{% block content %}
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget">
							<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
								Approved: <h3>{{no_of_approved_doctor}}</h3>
							</div>
							<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
								Pending:<h3>{{no_of_pending_doctor}}</h3>
							</div>
								<p style="color:blue;font-size:18px;text-align: left;">Doctors</p>
							</div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget">
                            
                            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
								Approved: <h3>{{no_of_approved_patient}}</h3>
							</div>
							<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
								Pending:<h3>{{no_of_pending_patient}}</h3>
							</div>
                                <p style="color:blue;font-size:18px;">Total Patients</p>
                            </div>
                        </div>
                    
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget">
                    
                            <div class="dash-widget-info text-left">
                                <h3>50</h3>
                                <p style="color:blue;font-size:18px;">Total Appointments</p>
                            </div>
                        </div>
                    </div>
                </div>
				
				<div class="container">
					<div class="row">
					  <div class="panel panel-primary col-md-5" style="margin-left:2%;">
						<div class="panel-heading" style="text-align:center;">
						  <h6 class="panel-title">Recent Doctors</h6>
						</div>
						<table class="table table-hover" id="dev-table">
						  <thead>
							<tr>
								<th><h1 style="font-size:15px;">Name</h1></th>
								<th><h1 style="font-size:15px;">Contact</h1></th>
								<th><h1 style="font-size:15px;">Department</h1></th>
								<th><h1 style="font-size:15px;">Gender</h1></th>
								<th><h1 style="font-size:15px;">Status</h1></th>
							</tr>
							<tr>
								<td><h1 style="font-size:15px;">Doctor1</h1></td>
								<td><h1 style="font-size:15px;">98126561561</h1></td>
								<td><h1 style="font-size:15px;">Surgery</h1></td>
								<td><h1 style="font-size:15px;">Male</h1></td>
								<td><span style="font-size:15px;" class="label label-warning">On Hold</span></td>
							</tr>
							<tr>
								<td><h1 style="font-size:15px;">Doctor2</h1></td>
								<td><h1 style="font-size:15px;">98122626561</h1></td>
								<td><h1 style="font-size:15px;">Surgery</h1></td>
								<td><h1 style="font-size:15px;">Female</h1></td>
								<td><span style="font-size:15px;" class="label label-success">Approved</span></td>
							</tr>
						  </thead>
						</table>
					  </div>
				  
					  <div class="panel panel-primary col-md-5" style="margin-left:5%;">
						<div class="panel-heading" style="text-align:center;">
						  <h6 class="panel-title">Recent Patient</h6>
						</div>
						<table class="table table-hover" id="dev-table">
						  <thead>
							<tr>
								<th><h1 style="font-size:15px;">Name</h1></th>
								<th><h1 style="font-size:15px;">Symptoms</h1></th>
								<th><h1 style="font-size:15px;">Mobile</h1></th>
								<th><h1 style="font-size:15px;">Gender</h1></th>
								<th><h1 style="font-size:15px;">Status</h1></th>
				  
							</tr>
							<tr>
								<td><h1 style="font-size:15px;">Patient1</h1></td>
								<td><h1 style="font-size:15px;">Headache</h1></td>
								<td><h1 style="font-size:15px;">981235923</h1></td>
								<td><h1 style="font-size:15px;">Male</h1></td>
								<td><span style="font-size:15px;" class="label label-default">Pending</span></td>
							 </tr>
						  </thead>
						</table>
					  </div>
					</div>
				  </div>
                    
            </div>
        </div>
{% endblock content%}
