{% extends 'doctor_base.html' %}
{% load static %}
{% block title%} Dashboard {% endblock title%}
{% block content %}
		<div class="container" style="padding-left: 111px; margin-top:14px;">
			<div class="panel panel-primary">
				<div class="panel-heading" style="text-align:center;">
				<h6 class="panel-title">Total Patients treated by {{request.user.first_name}} {{request.user.last_name}}</h6>
			  </div>
			  <table class="table table-hover" id="dev-table">
				<thead>
					<tr>
						<th><h1 style="font-size:15px;">Name</h1></th>
						<th><h1 style="font-size:15px;">Profile Picture</h1></th>
						<th><h1 style="font-size:15px;">Gender</h1></th>
						<th><h1 style="font-size:15px;">Age</h1></th>
                        <th><h1 style="font-size:15px;">Blood Group</h1></th>
						<th><h1 style="font-size:15px;">Mobile</h1></th>
                        <th><h1 style="font-size:15px;">Address</h1></th>
					</tr>
				</thead>
				{% for p in patients %}
					<tr style="font-size:14px ;">
						<td> {{p.get_name}}</td>
						<td> <img src="/media/{{p.profile_pic}}" alt="Profile Pic" height="40px" width="40px" /></td>
						<td>{{p.gender}}</td>
						<td>{{p.age}}</td>
						<td>{{p.blood_group}}</td>
						<td>{{p.Phone}}</td>
						<td>{{p.Address}}</td>
					</tr>
		        {% endfor %}


			  </table>
			</div>
		  </div>
{% endblock content %}