{% extends 'doctor_base.html' %}
{% load static %}
{% block title%} Dashboard {% endblock title%}
{% block content %}
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-lg-4 col-xl-3">
                        <div class="dash-widget">
							<div class="dash-widget-info text-left">
								<h3>{{total}}</h3>
								<p style="color:blue;font-size:18px;">Total Patients</p>
							</div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-4 col-xl-3">
                        <div class="dash-widget">
                            
                            <div class="dash-widget-info text-left">
                                <h3>{{total_treated}}</h3>
                                <p style="color:blue;font-size:18px;">Patients Treated</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-4 col-xl-3">
                        <div class="dash-widget">
                            <div class="dash-widget-info text-left">
                                <h3>{{pending_appointment_no}}</h3>
                                <p style="color:blue;font-size:18px;">Pending Appointment</p>
                            </div>
                        </div>
                    </div>
                </div>
				<div class="container" style="margin-top: -51px;margin-left: -123px;padding-right: 122px;">
					<div class="panel panel-primary" style="border: none;">
					  <div class="panel-heading" style="text-align:center;">
						<h6 class="panel-title">Recent Patients Who Requested For Appointment</h6>
					  </div>
					  <table class="table table-hover" id="dev-table">
						<thead>
							<tr>
								<th><h1 style="font-size:15px;">Name</h1></th>
								<th><h1 style="font-size:15px;">Profile Picture</h1></th>
								<th><h1 style="font-size:15px;">Appointment Date</h1></th>
								<th><h1 style="font-size:15px;">Mobile</h1></th>
								<th><h1 style="font-size:15px;">Address</h1></th>
								<th><h1 style="font-size:15px;">Status</h1></th>
							</tr>
						</thead>
						{% for p in appt %}
							<tr>
								<td> {{p.patient.get_name}}</td>
								<td> <img src="/media/{{p.patient.profile_pic}}" alt="Profile Pic" height="40px" width="40px" /></td>
								<td>{{p.appt_day}} ({{p.appt_time_from}}-{{p.appt_time_to}})</td>
								<td>{{p.patient.Phone}}</td>
								<td>{{p.patient.Address}}</td>
								{%if p.status%}
          <td> <span class="label label-primary">Confirmed</span></td>
          {% else %}
          <td> <span class="label label-success">Pending</span></td>
          {% endif %}
							</tr>
						{% endfor %}
						
					  </table>
					</div>
				  </div>
            </div>
        </div>
    </div>
    {% endblock content %}