{% extends 'doctor_base.html' %}
{% load static %}
{% block title%} Dashboard {% endblock title%}
{% block content %}
<div class="container" style="padding-left: 111px; margin-top:14px;">
    <div class="panel panel-primary">
      <div class="panel-heading" style="text-align:center;">
        <h6 class="panel-title">Manage Prescriptions</h6>
      </div>
      <table class="table table-hover" id="dev-table">
        <thead>
          <tr>
            <th><h1 style="font-size:15px;">Patient Name</h1></th>
            <th><h1 style="font-size:15px;">Age</h1></th>
            <th><h1 style="font-size:15px;">Mobile</h1></th>
            <th><h1 style="font-size:15px;">Symptoms</h1></th>
            <th><h1 style="font-size:15px;">Prescription</h1></th>
            <th><h1 style="font-size:15px;">Prescription Date</h1></th>
            <th><h1 style="font-size:15px;">Delete</h1></th>
          </tr>
        </thead>
        {% for p in presc %}
        <tr style="font-size: 14px;">
          <td>{{p.patient.get_name}}</td>
          <td>{{p.patient.age}}</td>
          <td>{{p.patient.Phone}}</td>
          <td>{{p.symptom}}</td>
          <td>{{p.prescription}}</td>
          <td>{{p.date}}</td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'd_delete_prescription' p.id  %}"><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock content %}