{% extends 'patient_base.html' %}
{% load static %}
{% block title%} Dashboard {% endblock title%}
{% block content %}
<div class="container" style="padding-left: 111px; margin-top:14px;">
    <div class="panel panel-primary">
      <div class="panel-heading" style="text-align:center;">
        <h6 class="panel-title">Your Prescriptions</h6>
      </div>
      <table class="table table-hover" id="dev-table">
        <thead>
          <tr>
            <th><h1 style="font-size:15px;">Doctor Name</h1></th>
            <th><h1 style="font-size:15px;">Department</h1></th>
            <th><h1 style="font-size:15px;">Mobile</h1></th>
            <th><h1 style="font-size:15px;">Symptoms</h1></th>
            <th><h1 style="font-size:15px;">Prescription</h1></th>
            <th><h1 style="font-size:15px;">Prescription Date</h1></th>
          </tr>
        </thead>
        {% for p in presc_pat %}
        <tr style="font-size: 14px;">
          <td>Dr. {{p.doctor.get_name}}</td>
          <td>{{p.doctor.department}}</td>
          <td>{{p.doctor.contact}}</td>
          <td>{{p.symptom}}</td>
          <td>{{p.prescription}}</td>
          <td>{{p.date}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock content %}