{% extends 'patient_base.html' %}
{% load static %}
{% block title%} Dashboard {% endblock title%}
{% block content %}
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget">
							<div class="dash-widget-info text-left">
								<h3>2</h3>
								<p style="color:blue;font-size:18px;">Total Appointments</p>
							</div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget">
                            
                            <div class="dash-widget-info text-left">
                                <h3>16</h3>
                                <p style="color:blue;font-size:18px;">Total Doctor Visited</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget">
                    
                            <div class="dash-widget-info text-left">
                                <h3>50</h3>
                                <p style="color:blue;font-size:18px;">Total Prescriptions</p>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
{% endblock content %}	
    