<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="{%static 'js/bootstrap.min.js' %}"></script>
<script src="{%static 'js/jquery/3.2.1/jquery.min.js' %}"></script>


<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
/>

<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <header class="card-header">
        <h4 class="card-title mt-2">Doctor Register</h4>
      </header>
      <article class="card-body">
        {% load widget_tweaks %}
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}

          <div class="form-row">
            <div class="col form-group">
              <label>First name </label>
              {{form1.first_name|add_class:"form-control"}}
            </div>
            
            <div class="col form-group">
              <label>Last name</label>
              {{form1.last_name|add_class:"form-control"}}
            </div>
            
          </div>
          
          <div class="form-group">
            <label>Username</label>
            {{form1.username|add_class:"form-control"}}
          </div>
          
          <div class="form-group">
            <label>Email</label>
            {{form1.email|add_class:"form-control"}}
          </div>
          
          <div class="form-group">
            <label>Password</label>
            {{form1.password|add_class:"form-control"}}
          </div>
          
          <div class="form-group">
            <label>Address</label>
            {{form2.address|add_class:"form-control"}}
          </div>
          
          <div class="form-group">
            <label>Contact</label>
            {{form2.contact|add_class:"form-control"}}
          </div>
         
          <div class="form-group">
            <label>Department</label>
            <div class="form-group">
              {{form2.department|add_class:"form-control"}}
            </div>
          </div>
          
          <div class="form-group">
            <label>Profile Picture</label>
            {{form2.profile_pic|add_class:"form-control"}}
          </div>
          
          <div class="form-group">
            <label>Gender</label>
            <div class="form-group">{{form2.gender|add_class:"form-control"}}</div>
          </div>
          
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Register
            </button>
          </div>
          
          <a
            href="{% url 'home' %}"
            class="btn btn-secondary btn-user btn-block"
          >
            Back To Home
          </a>
        </form>
      </article>
    </div>
  </div>
</div>
</head>
</html>
